// Navigation Styles here

header {
  width: 100%;
  border-bottom: 2px dashed @navigation-border;

  div {
    .flexSpaceBetween(space-between, center);
    height: 75px;
    max-width: 800px;
    margin: auto;

    @media @mobile {
      flex-direction: column;
    }

    nav {
      .flexSpaceBetween(space-around, center);
      font-size: 1.5rem;

      a {
        padding: 0px 25px;
      }
    }
  }
}
