// Navigation Styles here

header {
  width: 100%;
  border-bottom: 2px dashed @navigation-border;

  div {
    .flexSpaceBetween();
    height: 75px;

    max-width: 800px;
    margin: auto;

    nav {
      .flexSpaceBetween();
      font-size: 1.5rem;

      a {
        padding: 0px 25px;
      }
    }
  }
}
